<!DOCTYPE html>
<html>

<head>
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>


<body>
    <div class="container-fluid">
        <div class="header">
            <p class="head-para"> SUPERML </p>
            <p class="subhead-para"> Break The Limitations Of Machine Learning</p>
        </div>

        <div class="row d-flex flex-row justify-content-center align-items-center">
            <div class="col-lg-5 d-flex flex-column justify-content-center align-items-center home-cards">
                <p class="col-headers"> Auto Ensemble </p>
                <p> Create Machine Learning Model using this End-To-End Pipeline. This pipeline automates the Data Preprocessing, Feature Engineering, Hyperparameter Optimization and Ensembling of Various Machine Learning Algorithms.</p>
                <a href="/ensemble"><button class='but'><span></span><span></span><span></span><span></span> Go to AutoML </button> </a>
            </div>
            <div class="col-lg-5 d-flex flex-column justify-content-center align-items-center home-cards">
                <p class="col-headers"> Auto Trainer </p>
                <p> This tool let's you play with different Machine Learning Algorithm, Feature Engineering Technqiues and Hyperparameter Optimization Methods. You can generate results for divergent combinations of various methods and models. </p>
                <a href="/result-generator"><button class='but'> <span></span><span></span><span></span><span></span> Go To Auto Trainer</button> </a>
            </div>
        </div>


    </div>





</body>

</html>P