<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoML website</title>
</head>
<body>
    <style>
        html, body {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        /* .classification {
            display: none;
        } */

        #custom-settings {
            display: none;
        }
    </style>
    <form action="/process" method="post" enctype="multipart/form-data" required>
        <p>Select the dataset to upload</p>
        <input type="file" name="dataset" accept=".csv" required>
        <br>
        <br>
        <input type="text" name="label" placeholder="Enter label of dataset" required>

        <p>Type of task</p>
        <input type="radio" id="prediction" name="task" value="prediction" required checked>
        <label for="prediction">Regression</label><br>
        <input type="radio" id="classification" name="task" value="classification" required>
        <label for="classification">Classification</label><br>
        <br>

        <p> Select Settings </p>
        <input type="radio" id="default-option" name="settings" value="default" required checked>
        <label for="default-option"> Default </label><br>
        <input type="radio" id="custom-option" name="settings" value="custom" required>
        <label for="custom-option "> Custom </label>
        <br>
        
        <div id="custom-settings">
            <div class="prediction" id="prediction-models">
               
            </div>
            <div class="classification" id="classification-models">
                
            </div>

            

            <br>
            <label>Value of n_splits </label><br>
            <input type="number" value="5" name="n_splits">
            <br>
            
            <!-- <input type="text" name="metric" placeholder="Enter metric to use in base layer" required> -->
            <br>
            <p>Enter metric to use in base layer</p>
            <div class="prediction prediction-metrics">
                
            </div>
            
            <div class="classification classification-metrics">
                
            </div>
            <!-- <input type="text" name="sortby" placeholder="Enter metric to sort the ensembles" required> -->
            <br>
            <label>Enter metric to sort the ensembles</label><br>
            <div class="prediction prediction-metrics">
                
            </div>
            <div class="classification classification-metrics">
                
            </div>
        </div>
        <br>
        <button type="submit">Submit!</button>
    </form>
    <script>
        window.addEventListener('load', (e) => {
            document.getElementsByTagName('form')[0].reset();

        })
        let predictionRadioBtn = document.getElementById('prediction')
        let classificationRadioBtn = document.getElementById('classification')
        let defaultSettingRadioBtn = document.getElementById('default-option')
        let customSettingRadioBtn = document.getElementById('custom-option')


        let predictionFunc = (e) => {
            // console.log('prediction clicked!');
            // Array.from(document.getElementsByClassName('prediction')).map((elem) => {
            //     // elem.style.display = "block"
            // })
            // Array.from(document.getElementsByClassName('classification')).map((elem) => {
            //     // elem.style.display = "none"
            // })
            
            Array.from(document.getElementsByClassName('classification-metrics')).map((elem, idx) => {
                elem.innerHTML = ``
            })
            document.getElementById('classification-models').innerHTML = ``
            // models change 
            document.getElementById('prediction-models').innerHTML = `
            <p>Base layer models</p> 
                <input type="checkbox" id="LinearRegression" name="base-layer" value="LinearRegression" class="" checked>
                <label for="LinearRegression" class=""> LinearRegression </label><br>

                <input type="checkbox" id="Lasso" name="base-layer" value="Lasso" class="" checked>
                <label for="Lasso" class="">Lasso </label><br>
                
                <input type="checkbox" id="Ridge" name="base-layer" value="Ridge" class="" checked>
                <label for="Ridge" class=""> Ridge </label><br>
                
                <input type="checkbox" id="DecisionTreeRegressor" name="base-layer" value="DecisionTreeRegressor" class="" checked>
                <label for="DecisionTreeRegressor" class=""> DecisionTreeRegressor </label><br>

                <input type="checkbox" id="RandomForestRegressor" name="base-layer" value="RandomForestRegressor" class="" checked>
                <label for="RandomForestRegressor" class=""> RandomForestRegressor </label><br>

                <input type="checkbox" id="AdaBoostRegressor" name="base-layer" value="AdaBoostRegressor" class="" checked>
                <label for="AdaBoostRegressor" class=""> AdaBoostRegressor </label><br>

                <input type="checkbox" id="ExtraTreesRegressor" name="base-layer" value="ExtraTreesRegressor" class="" checked>
                <label for="ExtraTreesRegressor" class=""> ExtraTreesRegressor </label><br>

                <input type="checkbox" id="ExtraTreesRegressor" name="base-layer" value="ExtraTreesRegressor" class="" checked>
                <label for="ExtraTreesRegressor" class=""> ExtraTreesRegressor </label><br>



                <p class="prediction">Meta layer models</p> 
                <input type="checkbox" id="LinearRegression" name="meta-layer" value="LinearRegression" class="" checked>
                <label for="LinearRegression" class=""> LinearRegression </label><br>

                <input type="checkbox" id="Lasso" name="meta-layer" value="Lasso" class="" checked>
                <label for="Lasso" class="">Lasso </label><br>
                
                <input type="checkbox" id="Ridge" name="meta-layer" value="Ridge" class="" checked>
                <label for="Ridge" class=""> Ridge </label><br>
                
                <input type="checkbox" id="DecisionTreeRegressor" name="meta-layer" value="DecisionTreeRegressor" class="" checked>
                <label for="DecisionTreeRegressor" class=""> DecisionTreeRegressor </label><br>

                <input type="checkbox" id="RandomForestRegressor" name="meta-layer" value="RandomForestRegressor" class="" checked>
                <label for="RandomForestRegressor" class=""> RandomForestRegressor </label><br>

                <input type="checkbox" id="AdaBoostRegressor" name="meta-layer" value="AdaBoostRegressor" class="" checked>
                <label for="AdaBoostRegressor" class=""> AdaBoostRegressor </label><br>

                <input type="checkbox" id="ExtraTreesRegressor" name="meta-layer" value="ExtraTreesRegressor" class="" checked>
                <label for="ExtraTreesRegressor" class=""> ExtraTreesRegressor </label><br>

                <input type="checkbox" id="ExtraTreesRegressor" name="meta-layer" value="ExtraTreesRegressor" class="" checked>
                <label for="ExtraTreesRegressor" class=""> ExtraTreesRegressor </label><br>


                <input type="checkbox" id="GradientBoostingRegressor" name="meta-layer" value="GradientBoostingRegressor" class="" checked>
                <label for="GradientBoostingRegressor" class=""> GradientBoostingRegressor </label><br>
            `
            // metrics
            let metric = ['', '-sortby']
            Array.from(document.getElementsByClassName('prediction-metrics')).map((elem, idx) => {
                elem.innerHTML = `
                <input type="radio" name="metric${metric[idx]}" id="r2-metric${metric[idx]}" class="" value="r2" required checked>
                <label class="" for="r2-metric${metric[idx]}">R2 score</label><br>
                <input type="radio" name="metric${metric[idx]}" id="rmse-metric${metric[idx]}" class="" value="rmse">
                <label class="" for="rmse-metric${metric[idx]}">RMSE</label><br>
                <input type="radio" name="metric${metric[idx]}" id="mae-metric${metric[idx]}" class="" value="mae">
                <label class="" for="mae-metric${metric[idx]}">MAE</label><br>
                `
            })


        }

        let classificationFunc = (e) => {
            // console.log('classification clicked!');
            // Array.from(document.getElementsByClassName('prediction')).map((elem) => {
            //     elem.style.display = "none"
            // })
            // Array.from(document.getElementsByClassName('classification')).map((elem) => {
            //     elem.style.display = "block"
            // })
            document.getElementById('prediction-models').innerHTML = ``
            Array.from(document.getElementsByClassName('prediction-metrics')).map((elem, idx) => {
                elem.innerHTML = ``
            })
            document.getElementById('classification-models').innerHTML = `
            <p>Base layer models</p> 
                <input type="checkbox" id="LogisticRegression" name="base-layer" value="LogisticRegression" class="" checked>
                <label for="LogisticRegression" class=""> LogisticRegression </label><br>

                <input type="checkbox" id="RandomForestClassifier" name="base-layer" value="RandomForestClassifier" class="" checked>
                <label for="RandomForestClassifier" class=""> RandomForestClassifier </label><br>
                
                <input type="checkbox" id="AdaBoostClassifier" name="base-layer" value="AdaBoostClassifier" class="" checked>
                <label for="AdaBoostClassifier" class=""> AdaBoostClassifier </label><br>
                

                <input type="checkbox" id="GradientBoostingClassifier" name="base-layer" value="GradientBoostingClassifier" class="" checked>
                <label for="GradientBoostingClassifier" class=""> GradientBoostingClassifier </label><br>

                <input type="checkbox" id="DecisionTreeClassifier" name="base-layer" value="DecisionTreeClassifier" class="" checked>
                <label for="DecisionTreeClassifier" class=""> DecisionTreeClassifier </label><br>


                <p class="classification">Meta layer models</p> 
                <input type="checkbox" id="LogisticRegression" name="meta-layer" value="LogisticRegression" class="" checked>
                <label for="LogisticRegression" class=""> LogisticRegression </label><br>

                <input type="checkbox" id="RandomForestClassifier" name="meta-layer" value="RandomForestClassifier" class="" checked>
                <label for="RandomForestClassifier" class=""> RandomForestClassifier </label><br>
                
                <input type="checkbox" id="AdaBoostClassifier" name="meta-layer" value="AdaBoostClassifier" class="" checked>
                <label for="AdaBoostClassifier" class=""> AdaBoostClassifier </label><br>
                

                <input type="checkbox" id="GradientBoostingClassifier" name="meta-layer" value="GradientBoostingClassifier" class="" checked>
                <label for="GradientBoostingClassifier" class=""> GradientBoostingClassifier </label><br>

                <input type="checkbox" id="DecisionTreeClassifier" name="meta-layer" value="DecisionTreeClassifier" class="" checked>
                <label for="DecisionTreeClassifier" class=""> DecisionTreeClassifier </label><br>
            `
            let metric = ['', '-sortby']
            Array.from(document.getElementsByClassName('classification-metrics')).map((elem, idx) => {
                elem.innerHTML = `
                <input type="radio" name="metric${metric[idx]}" id="accuracy-metric${metric[idx]}" class="" value="accuracy" required checked>
                <label class="" for="accuracy-metric${metric[idx]}">Accuracy</label><br>
                <input type="radio" name="metric${metric[idx]}" id="f1-metric${metric[idx]}" class="" value="f1">
                <label class="" for="f1-metric${metric[idx]}">F1 score</label><br>
                <input type="radio" name="metric${metric[idx]}" id="precision-metric${metric[idx]}" class="" value="precision">
                <label class="" for="precision-metric${metric[idx]}">Precision</label><br>
                <input type="radio" name="metric${metric[idx]}" id="recall-metric${metric[idx]}" class="" value="recall">
                <label class="" for="recall-metric${metric[idx]}">Recall</label><br>
                `
            })

            
        }

        predictionRadioBtn.addEventListener('change', predictionFunc)

        classificationRadioBtn.addEventListener('change', classificationFunc)
               
        predictionFunc()

        defaultSettingRadioBtn.addEventListener('change', (e) => {
            let elem = document.getElementById('custom-settings')
            elem.style.display = "none"
        })

        
        customSettingRadioBtn.addEventListener('change', (e) => {
            let elem = document.getElementById('custom-settings')
            elem.style.display = "block"
        })
    </script>
</body>
</html>