{%extends "base.html" %} {%block content%}

<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">
<link href="/static/assets/css/style.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Break the limitations of Machine Learning</h1>
                <h2>Just enter your dataset and grab a cup of coffee while our system generates the best model for you!</h2>
                <div><a href="/start" class="btn-get-started scrollto">Get Started</a></div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="/static/assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->


<section id="features">
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="margin-top: 30px;">Features </h2>
                <!-- <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p> -->
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Automation at it's Best</h3>
                        <p class="description">With our state-of-the-art system, you don't have to write a single piece of code to get the best model. It automates every Supervised Learning Task.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><img src="/static/images/python.svg" style="height: 100px;width: 100px;margin-bottom: 10px;">
                        <h3 class="name">Python Library</h3>
                        <p class="description">Check out our SDK written in Python so that you can integrate our system within any Python application!</p>
                        <a href="https://pypi.org/project/auto-machine-learning/" class="learn-more">Go To Library</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-edit icon" style="height: 100px;width: 100px;margin-bottom: 10px;"></i>
                        <h3 class="name">Customizable </h3>
                        <p class="description">You can customize multiple parameters in the website or the library before training the model.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-leaf icon"></i>
                        <h3 class="name">Open Source</h3>
                        <p class="description">Want to know how does the website/library work, request a new feature or report a bug?? </p> <a href="https://github.com/mihir2510/AutoML_Application"> It's Open Source!</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-rocket icon"></i>
                        <h3 class="name">High performant</h3>
                        <p class="description">Our system beats many models fine-tuned by humans in time to train as well as the performance</p><a href="#" class="learn-more">Read Our Research Paper</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-users icon"></i>
                        <h3 class="name">User-Friendly</h3>
                        <p class="description"> Intuitive User Interface and instructions will make your experience butter smooth. Intuitive User Interface with each step defined clearly</div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-file icon"></i>
                        <h3 class="name">Get Reports</h3>
                        <p class="description"> Our Tool not only lets you train models as you want but also provides an exhaustive report of the performance of each configuration tried out. Includes Scoreboard and graphs </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-chart-bar icon"></i>
                        <h3 class="name">Visualize in 2D</h3>
                        <p class="description"> Get 2d plots for your ease of comparing performances of various configurations along with subplots with varying parameters. Charts are plotted with instrinsic colors and clear information</div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-cube icon"></i>
                        <h3 class="name">Visualize in 3D</h3>
                        <p class="description"> Are you the one with hunger for cool and complex things? We even provide a 3d surface plot which is totally interactive enabling you to study the effects of change on performance in-depth </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="section section-team text-center" id="team" style="margin: 25px 0 25px 0;">
    <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team" style="margin-top: -25px;">
            <div class="row">
                <div class="col-md-3">
                    <div class="team-player">
                        <img src="/static/images/zenil.jpeg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised image_size">
                        <h4 class="title">Zenil Haria</h4>
                        <!-- <p class="category text-primary">Model</p> -->
                        <p class="description">
                            A geeky/lazy programmer interested in Competitive Programming, Software and App Development. 
                        </p>
                        <a href="https://www.linkedin.com/in/zenil-haria-861566170/" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        <a href="mailto:zenilharia06@gmail.com" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google"></i></a>
                        <a href="https://github.com/zenilharia26" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-player">
                        <img src="/static/images/mihir.jpeg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised image_size">
                        <h4 class="title">Mihir Gada</h4>
                        <!-- <p class="category text-primary">Designer</p> -->
                        <p class="description">Tech enthusiast and self-motivated developer seeking an opportunity in the field of Computer Science.</p>
                        <a href="https://www.linkedin.com/in/mihir2510/" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        <a href="mailto:mihirgada25@gmail.com" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google"></i></a>
                        <a href="https://mihirgada.tech" class="btn btn-primary btn-icon btn-round"><i class="fas fa-globe"></i></a>
                        <a href="https://github.com/mihir2510" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-player">
                        <img src="/static/images/kaustubh.jpeg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised image_size">
                        <h4 class="title">Kaustubh Damania</h4>
                        <!-- <p class="category text-primary">Fashion</p> -->
                        <p class="description">
                            Just a guy who loves automating everything! <del>Wakanda</del> Open Source forever!
                        </p>
                        <a href="https://www.linkedin.com/in/kaustubh-damania/" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        <a href="mailto:kaustubh.damania@gmail.com" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google"></i></a>
                        <a href="https://kaustubhdamania.github.io" class="btn btn-primary btn-icon btn-round"><i class="fas fa-globe"></i></a>
                        <a href="https://github.com/KaustubhDamania" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-player">
                        <img src="/static/images/arnav.jpeg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised image_size">
                        <h4 class="title">Arnav Mankad</h4>
                        <!-- <p class="category text-primary">Fashion</p> -->
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                        </p>
                        <a href="https://www.linkedin.com/in/mihir2510/" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        <a href="mailto:mihirgada25@gmail.com" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google"></i></a>
                        <a href="https://mihirgada.tech" class="btn btn-primary btn-icon btn-round"><i class="fas fa-globe"></i></a>
                        <a href="https://github.com/ArnAV318" class="btn btn-primary btn-icon btn-round"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<footer id="footer" style="padding: 5px;">
    <div class="container text-center">
        <div class="copyright" style="float: none;">
            &copy; Copyright <strong><span>SuperML</span></strong>. All Rights Reserved
        </div>

    </div>
</footer>



{%endblock%}